#head-publicidad {
  background-color: #f4f5f7; }
  #head-publicidad img {
    margin-top: 15px;
    margin-bottom: 15px; }
  #head-publicidad ol {
    position: relative;
    right: 40px; }
    #head-publicidad ol li {
      display: inline;
      margin-right: 20px; }
      #head-publicidad ol li a {
        font-family: "PT Sans";
        color: #768696;
        font-size: 12px;
        font-weight: bold; }
  #head-publicidad ul {
    list-style: none; }
    #head-publicidad ul li {
      display: inline; }
      #head-publicidad ul li .susc {
        font-family: "PT Sans";
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 3px 5px;
        background-color: #dd4a4a;
        border-radius: 5px; }
      #head-publicidad ul li .fa {
        margin-left: 5px;
        margin-right: 5px; }
      #head-publicidad ul li .fa-facebook {
        color: #2a65a1; }
      #head-publicidad ul li .fa-twitter {
        color: #4bb7d9; }
      #head-publicidad ul li .fa-google-plus {
        color: #ca4638; }
      #head-publicidad ul li .fa-envelope {
        color: #ffbf00; }
      #head-publicidad ul li .fa-rss {
        color: #ff8000; }
      #head-publicidad ul li .busc {
        font-family: "PT Sans";
        color: #768696;
        font-size: 12px;
        font-weight: bold; }

#head-principal .logo {
  margin-top: 50px;
  margin-bottom: 50px; }
#head-principal .especialfutbol {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid #e2e2e2;
  border-bottom: 3px solid #394757; }
  #head-principal .especialfutbol .EDP {
    position: relative;
    bottom: 10px;
    width: 150px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.45);
    font-family: "PT Sans";
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    background-color: #394757;
    margin: 0 auto; }
  #head-principal .especialfutbol p {
    font-family: "PT Sans";
    color: #394757;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px; }
#head-principal .editorial img {
  margin-top: 30px;
  margin-bottom: 15px; }
#head-principal .navrojo {
  background-color: #ba1414;
  border-radius: 5px; }
  #head-principal .navrojo li {
    display: inline;
    margin-top: 15px;
    margin-bottom: 5px; }
    #head-principal .navrojo li a {
      font-family: "PT Sans";
      color: #ffffff;
      font-size: 12px;
      font-weight: bold;
      margin-left: 8px;
      margin-right: 8px; }

.blogsi h1 {
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 40px;
  font-weight: bold; }
.blogsi .ultimas {
  font-family: "Oswald";
  color: #768696;
  font-size: 16px;
  font-weight: normal; }

.blog .repi {
  margin-top: 30px;
  margin-bottom: 0px;
  display: block; }
  .blog .repi .central {
    display: inline-block;
    padding: 10px;
    border: 2px solid #e2e2e2;
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }
    .blog .repi .central :before, .blog .repi .central :after {
      content: "";
      display: block;
      clear: both; }
    .blog .repi .central .arriba {
      text-align: center;
      padding: 15px 0px; }
      .blog .repi .central .arriba p {
        font-family: "PT Sans";
        color: #1f1f1f;
        font-size: 12px;
        font-weight: normal; }
      .blog .repi .central .arriba h5 {
        font-family: "PT Sans";
        color: #1f1f1f;
        font-size: 20px;
        font-weight: bold; }
    .blog .repi .central .abajo {
      background-color: #e2e2e2;
      padding: 10px; }
      .blog .repi .central .abajo img {
        border: 2px solid #ffffff; }
      .blog .repi .central .abajo .thumb {
        box-sizing: border-box; }
      .blog .repi .central .abajo .noti {
        margin-left: 30px; }
        .blog .repi .central .abajo .noti span {
          font-family: "Oswald";
          color: #1f1f1f;
          font-size: 12px;
          font-weight: bold; }
        .blog .repi .central .abajo .noti p {
          font-family: "PT Sans";
          color: #768696;
          font-size: 16px;
          font-weight: bold; }

.boton {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }
  .boton .btn {
    background-color: #ba1414;
    color: #ffffff; }

.roji {
  background-color: #bd1a01;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 0px 10px 0px; }
  .roji li {
    display: inline;
    margin-right: 40px; }
    .roji li a {
      color: #ffffff;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px; }
      .roji li a:hover {
        background-color: #d90000; }
    .roji li .active {
      background-color: #811101; }

#column .repis :before, #column .repis :after {
  content: "";
  display: block;
  clear: both; }
#column .repis .abajo {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 22%;
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #e2e2e2;
  padding: 10px; }
  #column .repis .abajo img {
    border: 2px solid #ffffff; }
  #column .repis .abajo .thumb {
    box-sizing: border-box; }
  #column .repis .abajo .noti {
    margin-left: 30px; }
    #column .repis .abajo .noti span {
      font-family: "Oswald";
      color: #1f1f1f;
      font-size: 12px;
      font-weight: bold; }
    #column .repis .abajo .noti p {
      font-family: "PT Sans";
      color: #768696;
      font-size: 16px;
      font-weight: bold; }

#titulo {
  padding: 0px 30px;
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 30px;
  font-weight: bolder;
  text-align: center; }
  #titulo p {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 16px;
    font-weight: normal;
    text-align: left; }

#formulario {
  padding: 0px 30px;
  width: 59%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%; }
  #formulario .form-control {
    margin-top: 20px;
    margin-bottom: 20px; }
  #formulario h6 {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    bottom: 10px; }

.destinatario {
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 16px;
  font-weight: normal; }
  .destinatario h4 {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px; }
  .destinatario label {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: normal; }
  .destinatario .ejes {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 12px;
    font-weight: normal;
    text-align: right; }
  .destinatario textarea {
    margin-top: 20px;
    margin-bottom: 20px; }

#contenidos .containers {
  padding-left: 15px !important;
  padding-right: 15px !important; }
#contenidos .publi {
  box-sizing: border-box; }
#contenidos .tdd {
  padding: 5px;
  border-radius: 15px;
  width: 100%; }
  #contenidos .tdd li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px; }
  #contenidos .tdd .nig {
    background-color: #000;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 0px 5px 15px; }
  #contenidos .tdd .whi {
    background-color: #e4e7ea; }
    #contenidos .tdd .whi a {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 12px;
      font-weight: bold; }

#titular h1 {
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 60px;
  font-weight: bold;
  text-align: center; }
#titular ul {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }
#titular li {
  display: inline;
  font-family: "PT Sans";
  color: #768696;
  font-size: 12px;
  font-weight: normal;
  margin-left: 6px;
  margin-right: 6px; }
#titular .cajatitular p {
  position: relative;
  text-shadow: 2px 2px 0px black; }
#titular .ctuno {
  background: url(../image/img_grid_principal.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  -webkit-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 30px;
  font-weight: bold; }
  #titular .ctuno p {
    left: 30px;
    top: 300px; }
#titular .ctdos {
  background: url(../image/img_grid_secundario.jpg);
  background-position: center;
  background-size: cover;
  height: 220px;
  -webkit-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 20px;
  font-weight: bold; }
  #titular .ctdos p {
    left: 20px;
    top: 120px; }
#titular .ctres {
  background: url(../image/img_grid_secundario.jpg);
  background-position: center;
  background-size: cover;
  height: 220px;
  -webkit-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px; }
  #titular .ctres p {
    left: 20px;
    top: 120px; }

#columnistas {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f2f2f2;
  padding-left: 20px;
  text-align: center;
  border-top: 6px solid #ba1414; }
  #columnistas .titulo {
    font-family: "Oswald";
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    padding: 5px;
    background-color: #ba1414;
    position: relative;
    bottom: 10px; }
  #columnistas .colum {
    text-align: center;
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px; }
    #columnistas .colum .thumbnail {
      -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.45);
      -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.45);
      box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.45);
      border: 5px solid #ffffff;
      width: 95px;
      height: 95px;
      margin: 0 auto; }
    #columnistas .colum p {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 16px;
      font-weight: bolder; }
    #columnistas .colum span {
      font-family: "PT Sans";
      color: #333333;
      font-size: 14px;
      font-weight: bolder; }
    #columnistas .colum :before, #columnistas .colum :after {
      content: "";
      display: block;
      clear: both; }
  #columnistas .uno {
    background: url(../image/img-columnistas.jpg);
    height: 95px;
    background-size: cover; }
  #columnistas .dos {
    background: url(../image/img_blogueros.jpg);
    height: 95px;
    background-size: cover;
    background-repeat: no-repeat; }

#noticias-y-publicidad .cajanoticia {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e2e2e2; }
  #noticias-y-publicidad .cajanoticia p {
    padding-top: 30px;
    padding-bottom: 30px; }
  #noticias-y-publicidad .cajanoticia .titulo {
    font-family: "PT Sans";
    color: #ba1414;
    font-size: 16px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px; }
  #noticias-y-publicidad .cajanoticia .todosobre {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: bold; }
  #noticias-y-publicidad .cajanoticia .cajaoscura {
    -webkit-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
    box-shadow: inset -2px -84px 111px 39px rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 14px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
    text-align: left !important; }
    #noticias-y-publicidad .cajanoticia .cajaoscura p {
      position: relative;
      top: 80px;
      left: 10px; }
  #noticias-y-publicidad .cajanoticia .uno {
    background: url(../image/img_especiales.jpg);
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat; }
  #noticias-y-publicidad .cajanoticia .tres {
    background: url(../image/img_especiales_aside.jpg);
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat; }

#granzona .ultimas {
  font-family: "Oswald";
  color: #768696;
  font-size: 20px;
  font-weight: normal; }
#granzona .noticia {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2; }
  #granzona .noticia h4 {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 20px;
    font-weight: bold; }
  #granzona .noticia p {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 10px;
    font-weight: normal; }
  #granzona .noticia .fotitouno {
    background: url(../image/img_news_grid.jpg);
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat; }
  #granzona .noticia .fotitodos {
    background: url(../image/foti2.jpg);
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat; }
  #granzona .noticia .fotitotres {
    background: url(../image/foti3.jpg);
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat; }
  #granzona .noticia .fotitocuatro {
    background: url(../image/foti4.jpg);
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat; }
  #granzona .noticia .textito p {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: normal; }
  #granzona .noticia .textito li {
    display: inline;
    font-family: "PT Sans";
    color: #768696;
    font-size: 10px;
    font-weight: normal;
    margin-left: 5px;
    margin-right: 5px; }
    #granzona .noticia .textito li .fa {
      color: #ba1414;
      font-size: 16px; }
    #granzona .noticia .textito li .icos {
      width: 20px;
      height: 20px; }

#asidepo .suscribete {
  margin-top: 40px;
  margin-bottom: 0px;
  background: url(../image/trama_square.jpg);
  background-repeat: repeat;
  padding: 40px 20px 20px 20px; }
  #asidepo .suscribete .blanco {
    background-color: #ffffff;
    text-align: center;
    width: 300px;
    margin: 0 auto; }
    #asidepo .suscribete .blanco img {
      position: relative;
      bottom: 20px; }
    #asidepo .suscribete .blanco p {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 20px;
      font-weight: normal; }
      #asidepo .suscribete .blanco p span {
        font-weight: bolder; }
    #asidepo .suscribete .blanco .norm {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 16px;
      font-weight: normal; }
    #asidepo .suscribete .blanco .btn {
      background-color: #ba1414;
      color: #ffffff; }
    #asidepo .suscribete .blanco a {
      font-family: "PT Sans";
      color: #ba1414;
      font-size: 16px;
      font-weight: bold; }
  #asidepo .suscribete .blancodos {
    margin-top: 20px;
    margin-bottom: 0px; }
#asidepo .aweita {
  margin-top: 40px;
  margin-bottom: 0px;
  border: 1px solid #e2e2e2;
  padding: 20px 20px 0px 20px;
  text-align: center;
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 12px;
  font-weight: bolder; }
  #asidepo .aweita .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .aweita .mas {
    border-bottom: 7px solid #872f85;
    padding-bottom: 5px;
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    bottom: 10px; }
    #asidepo .aweita .mas a {
      color: #872f85; }
  #asidepo .aweita .thumb img {
    width: 100%; }
  #asidepo .aweita .noti {
    text-align: left; }
#asidepo .fotosdestacadas {
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 5px solid #768696;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0px 20px 0px;
  text-align: center;
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 14px;
  font-weight: bold;
  text-align: center; }
  #asidepo .fotosdestacadas .titular {
    padding: 5px;
    background-color: #768696;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 30px; }
  #asidepo .fotosdestacadas .grandes {
    font-family: "PT Sans";
    color: #768696;
    font-size: 20px;
    font-weight: bold; }
  #asidepo .fotosdestacadas .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .fotosdestacadas .thumb img {
    width: 100%; }
  #asidepo .fotosdestacadas .noti {
    text-align: left; }
    #asidepo .fotosdestacadas .noti a {
      font-family: "PT Sans";
      color: #ba1414;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline; }
#asidepo .especiales {
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 5px solid #768696;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0px 20px 0px;
  text-align: center; }
  #asidepo .especiales .titular {
    padding: 5px;
    background-color: #768696;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 30px; }
  #asidepo .especiales .contimg {
    padding: 20px;
    height: 200px;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .especiales .white {
    background-color: #ffffff;
    opacity: 0.5;
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    position: relative;
    top: 120px; }
  #asidepo .especiales .contiuno {
    background: url(../image/img_especiales_aside.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  #asidepo .especiales .contidos {
    background: url(../image/img_especiales.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  #asidepo .especiales .contitres {
    background: url(../image/un-image--thumb-01.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  #asidepo .especiales .conticuatro {
    background: url(../image/img_video_destacado.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
#asidepo .caricatura {
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 5px solid #ba1414;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0px 20px 0px;
  text-align: center; }
  #asidepo .caricatura .titular {
    padding: 5px;
    background-color: #ba1414;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 30px; }
  #asidepo .caricatura p {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 20px;
    font-weight: bold; }
  #asidepo .caricatura a {
    font-family: "PT Sans";
    color: #ba1414;
    font-size: 14px;
    font-weight: bold; }
#asidepo .nuestrosblogueros {
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 5px solid #768696;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0px 20px 0px;
  text-align: center; }
  #asidepo .nuestrosblogueros .titular {
    padding: 5px;
    background-color: #768696;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 30px; }
  #asidepo .nuestrosblogueros .thumb img {
    width: 100%; }
  #asidepo .nuestrosblogueros .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .nuestrosblogueros .noti {
    text-align: left; }
  #asidepo .nuestrosblogueros p {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 16px;
    font-weight: bold; }
  #asidepo .nuestrosblogueros span {
    font-family: "PT Sans";
    color: #768696;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline; }
  #asidepo .nuestrosblogueros a {
    font-family: "PT Sans";
    color: #ba1414;
    font-size: 16px;
    font-weight: bold; }
#asidepo .edicionimpresa {
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 5px solid #ba1414;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0px 20px 0px;
  text-align: center;
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 14px;
  font-weight: bold;
  text-align: center; }
  #asidepo .edicionimpresa .titular {
    padding: 5px;
    background-color: #ba1414;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 30px; }
  #asidepo .edicionimpresa .grandes {
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 20px;
    font-weight: bold; }
  #asidepo .edicionimpresa .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .edicionimpresa .thumb img {
    width: 100%; }
  #asidepo .edicionimpresa .noti {
    text-align: left; }
    #asidepo .edicionimpresa .noti a {
      font-family: "PT Sans";
      color: #ba1414;
      font-size: 14px;
      font-weight: bold;
      text-decoration: underline; }
#asidepo .infografias {
  margin-top: 40px;
  margin-bottom: 0px;
  border-top: 5px solid #768696;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0px 20px 0px;
  text-align: center; }
  #asidepo .infografias .titular {
    padding: 5px;
    background-color: #768696;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    bottom: 30px; }
  #asidepo .infografias .contimg {
    padding: 20px;
    height: 200px;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .infografias .white {
    background-color: #ffffff;
    opacity: 0.5;
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    position: relative;
    top: 120px; }
  #asidepo .infografias .contiuno {
    background: url(../image/img_especiales_aside.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  #asidepo .infografias .contidos {
    background: url(../image/img_especiales.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
#asidepo .libero {
  margin-top: 40px;
  margin-bottom: 0px;
  border: 1px solid #e2e2e2;
  padding: 20px 20px 0px 20px;
  text-align: center;
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 12px;
  font-weight: bolder; }
  #asidepo .libero .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .libero .mas {
    border-bottom: 7px solid #d62247;
    padding-bottom: 5px;
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    bottom: 10px; }
    #asidepo .libero .mas a {
      color: #d62247; }
  #asidepo .libero .thumb img {
    width: 100%; }
  #asidepo .libero .noti {
    text-align: left; }
#asidepo .popular {
  margin-top: 40px;
  margin-bottom: 0px;
  border: 1px solid #e2e2e2;
  padding: 20px 20px 0px 20px;
  text-align: center;
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 12px;
  font-weight: bolder; }
  #asidepo .popular .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .popular .mas {
    border-bottom: 7px solid #ffea53;
    padding-bottom: 5px;
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    bottom: 10px; }
    #asidepo .popular .mas a {
      color: #ffea53; }
  #asidepo .popular .thumb img {
    width: 100%; }
  #asidepo .popular .noti {
    text-align: left; }
#asidepo .wapa {
  margin-top: 40px;
  margin-bottom: 0px;
  border: 1px solid #e2e2e2;
  padding: 20px 20px 0px 20px;
  text-align: center;
  font-family: "PT Sans";
  color: #1f1f1f;
  font-size: 12px;
  font-weight: bolder; }
  #asidepo .wapa .row {
    margin-top: 20px;
    margin-bottom: 20px; }
  #asidepo .wapa .mas {
    border-bottom: 7px solid #d12570;
    padding-bottom: 5px;
    font-family: "PT Sans";
    color: #1f1f1f;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    bottom: 10px; }
    #asidepo .wapa .mas a {
      color: #d12570; }
  #asidepo .wapa .thumb img {
    width: 100%; }
  #asidepo .wapa .noti {
    text-align: left; }
#asidepo .lapreguntadeayer {
  margin-top: 40px;
  margin-bottom: 0px;
  background: url(../image/trama_square.jpg);
  background-repeat: repeat;
  padding: 40px 20px 20px 20px; }
  #asidepo .lapreguntadeayer .blanco {
    background-color: #ffffff;
    text-align: center;
    width: 300px;
    margin: 0 auto; }
    #asidepo .lapreguntadeayer .blanco img {
      position: relative;
      bottom: 20px; }
    #asidepo .lapreguntadeayer .blanco p {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 20px;
      font-weight: normal; }
      #asidepo .lapreguntadeayer .blanco p span {
        font-weight: bolder; }
    #asidepo .lapreguntadeayer .blanco .norm {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 16px;
      font-weight: normal; }
    #asidepo .lapreguntadeayer .blanco .btn {
      background-color: #ba1414;
      color: #ffffff; }
    #asidepo .lapreguntadeayer .blanco a {
      font-family: "PT Sans";
      color: #ba1414;
      font-size: 16px;
      font-weight: bold; }
  #asidepo .lapreguntadeayer .blancodos {
    margin-top: 20px;
    margin-bottom: 0px; }
#asidepo .reportero {
  margin-top: 40px;
  margin-bottom: 0px;
  background: url(../image/trama_square.jpg);
  background-repeat: repeat;
  padding: 40px 20px 20px 20px; }
  #asidepo .reportero .blanco {
    background-color: #ffffff;
    text-align: center;
    width: 300px;
    margin: 0 auto; }
    #asidepo .reportero .blanco img {
      position: relative;
      bottom: 20px; }
    #asidepo .reportero .blanco p {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 20px;
      font-weight: normal; }
      #asidepo .reportero .blanco p span {
        font-weight: bolder; }
    #asidepo .reportero .blanco .norm {
      font-family: "PT Sans";
      color: #1f1f1f;
      font-size: 16px;
      font-weight: normal; }
    #asidepo .reportero .blanco .btn {
      background-color: #ba1414;
      color: #ffffff; }
    #asidepo .reportero .blanco a {
      font-family: "PT Sans";
      color: #ba1414;
      font-size: 16px;
      font-weight: bold; }
  #asidepo .reportero .blancodos {
    margin-top: 20px;
    margin-bottom: 0px; }

/*# sourceMappingURL=main.css.map */
