@mixin titularsombra ($sizes){
	color: $texto-wh;
	font-size: $sizes;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
}

@mixin margins ($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin margins-lr ($left, $right) {
	margin-left: $left;
	margin-right: $right;
}

@mixin letraspt ($letracolor, $letrasize, $letrapeso){
	font-family: "PT Sans";
	color: $letracolor;
	font-size: $letrasize;
	font-weight: $letrapeso;
}

@mixin letrasosw ($letracolor, $letrasize, $letrapeso){
	font-family: "Oswald";
	color: $letracolor;
	font-size: $letrasize;
	font-weight: $letrapeso;
}

@mixin shadows {
-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.45);
box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.45);
}

@mixin caja-titular {
-webkit-box-shadow: inset -2px -84px 111px 39px rgba(0,0,0,0.7);
-moz-box-shadow: inset -2px -84px 111px 39px rgba(0,0,0,0.7);
box-shadow: inset -2px -84px 111px 39px rgba(0,0,0,0.7);
}