$texto-oscuro: #1f1f1f;
$texto-wh: #ffffff;
$rojo: #ba1414;
$rosa-suscribete: #dd4a4a;
$ico-fb: #2a65a1;
$ico-tw: #4bb7d9;
$ico-goo: #ca4638;
$ico-mail: #ffbf00;
$ico-rss: #ff8000;
$grisclaro: #768696; 
$espe-futbol: #394757;
$bgtemadeldia: #e4e7ea;
$grisbullet: #768696;
$bg-columnistas: #f2f2f2;
$texto-gris: #333333;
$verde-progress: #cdf3a6;
$rojo-progress: #f0a3a3;
$amarillo-popular: #ffea53;
$rosa-libero: #d62247;
$rosa-wapa: #d12570;
$bgblog: #e2e6e9;
$bginput: #eeeeee;
$bgfooter: #e3e3e3;
$rojo-oscuro: #941010;
$rojo-colum-osc: #811101;
$rojo-colum-med: #bd1a01;
$rojo-colum-cla: #d90000;