#head-publicidad {
	background-color: $bg-publicidad; 

	img {
		@include margins (15px, 15px);
	}
	ol {
		position: relative;
		right: 40px;

		li {
		display: inline;
		margin-right: 20px;

			a {
				@include letraspt ($grisclaro, 12px, bold);
			} 
		}

	}
	ul {
		list-style: none;
		li {
			display: inline;
			.susc {
				@include letraspt ($texto-wh, 12px, bold);
				padding: 3px 5px;
				background-color: $rosa-suscribete;
				border-radius: 5px;
			}
			.fa {
				@include  margins-lr (5px, 5px);
			}
			.fa-facebook {
			color: $ico-fb;
			}
			.fa-twitter {
			color: $ico-tw;
			}
			.fa-google-plus {
			color: $ico-goo;
			}
			.fa-envelope {
			color: $ico-mail;
			}
			.fa-rss {
			color: $ico-rss;
			}
			.busc {
				@include letraspt ($grisclaro, 12px, bold);
			}
		}
	}
}

#head-principal {
	.logo {
		@include margins (50px, 50px);
	}
	.especialfutbol {
		@include margins (30px, 30px);
		text-align: center;
		border: 1px solid $grisito;
		border-bottom: 3px solid $espe-futbol;
		.EDP {
			position: relative;
			bottom: 10px;
			width: 150px;
			@include shadows; 
			@include letraspt ($texto-wh, 12px, bold);
			padding:5px;
			background-color: $espe-futbol;
			margin: 0 auto;

		}

		p {
			@include letraspt ($espe-futbol, 16px, bold);
			@include margins (5px, 15px);
		}
	}

	.editorial {
		img {
		@include margins (30px, 15px);
		}
	}
	.navrojo {
		background-color: $rojo;
		border-radius: 5px;

		li {
			display: inline;
			@include margins (15px, 5px);

			a {
				@include letraspt ($texto-wh, 12px, bold);
				@include margins-lr (8px, 8px);
			}
		}
	}
}