.boton {
	@include margins (30px, 30px);
	text-align: center;
	.btn {
		background-color: $rojo;
		color: $texto-wh;
	}
}

.roji {
	background-color: $rojo-colum-med;
	@include margins (30px, 30px);
	padding: 20px 0px 10px 0px;
	li {
		display: inline;
		margin-right: 40px;

		a {
			color: $texto-wh;
			text-decoration: none;
			padding: 10px;
			border-radius: 10px;
			&:hover {
				background-color:$rojo-colum-cla; 
			}
		}
		.active {
			background-color: $rojo-colum-osc;
		}
	}
}