#contenidos {
	.containers {
		padding-left:15px !important;
		padding-right:15px !important;
	}
	.publi {
		box-sizing: border-box;
	}
	.tdd {
		padding:5px;
		border-radius: 15px;
		width: 100%;
		li {
			display:inline;
			@include margins-lr (3px, 3px);
		}
		.nig {
			background-color: #000;
			@include letrasosw ($texto-wh, 14px, normal);
			padding: 5px 0px 5px 15px;
		}
		.whi {
			background-color: $bgtemadeldia;
			a {
				@include letraspt ($texto-oscuro, 12px, bold);
			}
		}
	}
}
#titular {
	h1 {
		@include letraspt ($texto-oscuro, 60px, bold);
		text-align: center;
	}
	ul {
		text-align: center;
		@include margins (10px, 10px);
	}
	li {
		display: inline;
		@include letraspt ($grisclaro, 12px, normal);
		@include margins-lr (6px, 6px);
	}

	.cajatitular {
		p {
			position: relative;
			text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
		}
	}

	.ctuno {
		background: url(../image/img_grid_principal.jpg);
		background-position: center;
		background-size: cover;
		height: 450px;
		@include caja-titular;
		@include letraspt ($texto-wh, 30px, bold);
		p {
			left: 30px;
			top: 300px;
		}
	}
	.ctdos {
		background: url(../image/img_grid_secundario.jpg);
		background-position: center;
		background-size: cover;
		height: 220px;
		@include caja-titular;
		@include letraspt ($texto-wh, 20px, bold);
		p {
			left: 20px;
			top: 120px;
		}
	}
	.ctres {
		background: url(../image/img_grid_secundario.jpg);
		background-position: center;
		background-size: cover;
		height: 220px;
		@include caja-titular;
		@include letraspt ($texto-wh, 20px, bold);
		@include margins (10px, 0px);
		p {
			left: 20px;
			top: 120px;
		}
	}
}

#columnistas {
	@include margins (50px, 50px);
	background-color: $bg-columnistas;
	padding-left:20px;
	 text-align:center;
	 border-top: 6px solid $rojo;
	.titulo {
		@include letrasosw ($texto-wh, 20px, normal);
		padding:5px;
		background-color: $rojo;
		position: relative;
		bottom: 10px;
	}
	.colum {
		@include supercaja;
		.thumbnail {
			@include shadows;
			border: 5px solid $texto-wh;
			width:95px;
			height:95px;
			margin:0 auto;
		}
		p {
			@include letraspt ($texto-oscuro, 16px, bolder);
		}
		span {
			@include letraspt ($texto-gris, 14px, bolder);
		}
	@include afterbefore;
	}
	.uno {
		background: url(../image/img-columnistas.jpg);
		height: 95px;
		background-size:cover;

	}
	.dos {
		background: url(../image/img_blogueros.jpg);
		height: 95px;
		background-size:cover;
		background-repeat: no-repeat;

	}
}
#noticias-y-publicidad {
	.cajanoticia {
		@include margins (0px, 50px);
		text-align: center;
		border: 1px solid $grisito;
		p{
			padding-top:30px;
			padding-bottom:30px;
		}
		.titulo {
			@include letraspt ($rojo, 16px, bold);
			@include margins (100px, 100px);
		}
		.todosobre {
			@include letraspt ($texto-oscuro, 14px, bold);
		}
		.cajaoscura {
			@include caja-titular;
			@include titularsombra (14px);
			text-align: left !important;
			p {
				position: relative;
				top: 80px;
				left: 10px;
			}
		}
		.uno {
		background: url(../image/img_especiales.jpg);
		@include norepeat;
		}
		.tres {
		background: url(../image/img_especiales_aside.jpg);
		@include norepeat;
		}
	}
}

#granzona {
	.ultimas {
		@include letrasosw ($grisclaro, 20px, normal);
	}
	.noticia {
		@include margins (0px, 30px);
		padding-bottom: 10px;
		border-bottom: 1px solid $grisito;
		
	h4 {
		@include letraspt ($texto-oscuro, 20px, bold);
	}
	p {
		@include letraspt ($texto-oscuro, 10px, normal);
	}
		.fotitouno {
			background: url(../image/img_news_grid.jpg);
			@include norepeatdos;
		}
		.fotitodos {
			background: url(../image/foti2.jpg);
			@include norepeatdos;
		}
		.fotitotres {
			background: url(../image/foti3.jpg);
			@include norepeatdos;
		}
		.fotitocuatro {
			background: url(../image/foti4.jpg);
			@include norepeatdos;
		}
		.textito {
			p {
				@include letraspt ($texto-oscuro, 14px, normal);
			}
			li {
				display: inline;
				@include letraspt ($grisclaro, 10px, normal);
				@include margins-lr (5px, 5px);

				.fa {
					color: $rojo;
					font-size: 16px;
				}
				.icos {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}

#asidepo {
	.suscribete {
		@include cajaenc;
	}
	.aweita {
		@include cajacerrada ($aweita);
	}
	.fotosdestacadas {
		@include cajaside ($fotosdest);
		@include sideuno ($fotosdest);
	}
	.especiales {
		@include cajaside ($fotosdest);
		@include conblanco;
		.contiuno {
			background: url(../image/img_especiales_aside.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.contidos {
			background: url(../image/img_especiales.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.contitres {
			background: url(../image/un-image--thumb-01.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.conticuatro {
			background: url(../image/img_video_destacado.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.caricatura {
		@include cajaside ($rojo);
		p {
			@include letraspt ($texto-oscuro, 20px, bold);
		}
		a {
			@include letraspt ($rojo, 14px, bold);
		}
	}
	.nuestrosblogueros {
		@include cajaside ($fotosdest);
		.thumb {
			img {
				width: 100%;
			}
		}
		.row {
			@include margins (20px, 20px);
		}
		.noti {
			text-align: left;
		}
		p {
			@include letraspt ($texto-oscuro, 16px, bold);
		}
		span {
			@include letraspt ($fotosdest, 12px, bold);
			text-decoration: underline;
		}
		a {
			@include letraspt ($rojo, 16px, bold);
		}
	}
	.edicionimpresa {
		@include cajaside ($rojo);
		@include sideuno ($texto-oscuro);
	}
	.infografias {
		@include cajaside ($fotosdest);
		@include conblanco;
		.contiuno {
			background: url(../image/img_especiales_aside.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.contidos {
			background: url(../image/img_especiales.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.libero {
		@include cajacerrada($libero);
	}
	.popular {
		@include cajacerrada($popular);
	}
	.wapa {
		@include cajacerrada($wapa);
	}
	.lapreguntadeayer {
		@include cajaenc;
	}
	.reportero {
		@include cajaenc;
	}
}